@page
@model Pet_Reunion_Hub.Pages.Shared.SignUpModel
@{
}
<style>
    body {
        font-family: Arial, sans-serif;
    }

    form {
        max-width: 400px;
        margin: 0 auto;
    }

    label {
        display: block;
        margin-bottom: 8px;
    }

    input {
        width: 100%;
        padding: 8px;
        margin-bottom: 16px;
        box-sizing: border-box;
    }

    button {
        background-color: #3498db;
        color: #fff;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
</style>

<body>

    <h1>Sign Up</h1>
    <p>Join Pet Reunion Hub and help us reunite pets by providing the following information.</p>

    <form>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="username">Create Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Create Password:</label>
        <input type="password" id="password" name="password" required>

        <label for="location">Location (Crucial for Lost Pet Reporting):</label>
        <input type="text" id="location" name="location" required>

        <label for="profile-picture">Profile Picture:</label>
        <input type="file" id="profile-picture" name="profile-picture" accept="image/*">

        <button type="submit">Sign Up</button>
    </form>

   @*  <form>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required asp-for="Email">

        <label for="username">Create Username:</label>
        <input type="text" id="username" name="username" required asp-for="Username">

        <label for="password">Create Password:</label>
        <input type="password" id="password" name="password" required asp-for="Password">

        <label for="location">Location (Crucial for Lost Pet Reporting):</label>
        <input type="text" id="location" name="location" required asp-for="Location">

        <label for="profile-picture">Profile Picture:</label>
        <input type="file" id="profile-picture" name="profile-picture" accept="image/*" asp-for="ProfilePicture">

        <button type="submit">Sign Up</button>
    </form> *@
</body>
