@page
@model Pet_Reunion_Hub.Pages.COPINGRESOURCES.NEW.CreateModel

@{
    ViewData["Title"] = "Create";
    // Layout = "~/Pages/Shared/SignUp.cshtml";
}

<h1>Create</h1>

<h4>RESOURCE</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RESOURCE.TITLE" class="control-label"></label>
                <input asp-for="RESOURCE.TITLE" class="form-control" />
                <span asp-validation-for="RESOURCE.TITLE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RESOURCE.DESCRIPTION" class="control-label"></label>
                <input asp-for="RESOURCE.DESCRIPTION" class="form-control" />
                <span asp-validation-for="RESOURCE.DESCRIPTION" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RESOURCE.LINK" class="control-label"></label>
                <input asp-for="RESOURCE.LINK" class="form-control" />
                <span asp-validation-for="RESOURCE.LINK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RESOURCE.FILEURL" class="control-label"></label>
                <input asp-for="RESOURCE.FILEURL" class="form-control" />
                <span asp-validation-for="RESOURCE.FILEURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RESOURCE.TYPE" class="control-label"></label>
                <input asp-for="RESOURCE.TYPE" class="form-control" />
                <span asp-validation-for="RESOURCE.TYPE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RESOURCE.UserId" class="control-label"></label>
                <select asp-for="RESOURCE.UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
