@page
@model Pet_Reunion_Hub.Pages.PETMEMORIAL.POSTS.DetailsModel

@{
    ViewData["Title"] = "Details";
    // Layout = "~/Pages/Shared/SignUp.cshtml";
}
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.RazorPages

<style>
    /* Style for Edit and Back to List buttons */

    #edit {
        border-radius: 5px;
        background-color: #8b572a;
        color: white;
        text-decoration: none;
        padding: 5px 10px;
        font-weight: bold;
        transition: background-color 0.3s;
    }

    #back {
        border-radius: 5px;
        background-color: black;
        color: white;
        text-decoration: none;
        padding: 5px 10px;
        font-weight: bold;
        transition: background-color 0.3s;
    }

    .btn:hover {
        background-color: #555; /* Darken the background color on hover */
    }
</style>




<div style="padding: 30px; margin-bottom: 20px; border: 1px solid #ccc; border-radius: 5px; background-color: #fff;">
    <h4>Your Memory</h4>
    <hr />
  
    <dl>
        <dt>Created on:</dt>
        <dd>@Model.Post.CreatedAt.ToString("dd-MMM-yyyy HH:mm:ss")</dd>

        <dt>Description:</dt>
        <dd style="white-space: pre-wrap; overflow-wrap: break-word;">@(Model.Post.Content != null ? Model.Post.Content:"-")</dd>

        <div>
            <h4>Your Media Files</h4>
            @if (Model.Post.Media != null && Model.Post.Media.Any())
            {
                <div>
                    @foreach (var file in Model.Post.Media)
                    {
                        <img src="@file.MediaUrl" alt="Additional File" style="max-width: 300px;" />
                        
                    }
                </div>
            }
            else
            {
                <p>No additional files available.</p>
            }
        </div>
</dl>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Post?.Id" id="edit">Edit</a> 
    <a asp-page="./Index" id="back">Back to List</a>
</div>
</div>
