@* @page
@model Pet_Reunion_Hub.Pages.PETMEMORIAL.POSTCONTAINER.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/SignUp.cshtml";
}


<style>
    body {
        /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container {
        max-width: 1500px;
        margin: 20px auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    label {
        display: block;
        margin-bottom: 8px;
    }

    input,
    select {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }



    #submitbtn {
        background-color: black;
        color: #fff;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        text-decoration: none;
        font-weight: bold; /* Make the text bold */
        font-size: 1.1em;
    }

    #tolist {
        background-color: #8b572a;
        color: #fff;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        text-decoration: none;
        border-radius: 20px; /* Increase border-radius for a more rounded appearance */
        font-weight: bold;
    }
</style>

<h4>Create a Container For Each Pet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CONTAINER.Name" class="control-label"><b>Title</b></label>
                <input asp-for="CONTAINER.Name" class="form-control" />
                <span asp-validation-for="CONTAINER.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CONTAINER.Description" class="control-label"><b>Description</b></label>
                <input asp-for="CONTAINER.Description" class="form-control" />
                <span asp-validation-for="CONTAINER.Description" class="text-danger"></span>
            </div>
           @*  <div class="form-group">
                <label asp-for="CONTAINER.UserId" class="control-label"></label>
                <select asp-for="CONTAINER.UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div> *
            <input type="hidden" asp-for="CONTAINER.UserId" />
            <div class="form-group">
                <input id="submitbtn" type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index" id="tolist">My Containers</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
 *@