
@page
@model Pet_Reunion_Hub.Pages.PETMEMORIAL.CONTAINERS.CreateContainerModel
@{
    ViewData["Title"] = "Create Container";
}

<h1>Create a New Container</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="CONTAINER.Name" class="control-label"><b>Title</b></label>
        <textarea asp-for="CONTAINER.Name" class="form-control autosize  character-count"></textarea>
        <span asp-validation-for="CONTAINER.Name" class="text-danger"></span>
    </div>
    <br />

    <div class="form-group">
        <label asp-for="CONTAINER.Description" class="control-label"><b>Description</b></label>
        <textarea asp-for="CONTAINER.Description" class="form-control autosize  character-count"></textarea>
        <span asp-validation-for="CONTAINER.Description" class="text-danger"></span>
    </div>
    <br />
    <input type="hidden" asp-for="CONTAINER.UserId" />
    <input type="submit" value="Create" class="btn btn-primary"/>
</form>