@page
@model Pet_Reunion_Hub.Pages.LOSTPETREPORTING.GENERAL.EditModel

@{
    ViewData["Title"] = "Edit";
    // Layout = "~/Pages/Shared/SignUp.cshtml";
}

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.RazorPages

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lost Pet Reporting</title>
    <style>
        body {
            /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .container {
            max-width: 1500px;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-bottom: 8px;
        }

        input,
        select {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }



        #submitbtn {
            background-color: black;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            text-decoration: none;
            font-weight: bold; /* Make the text bold */
            font-size: 1.1em;
        }

        #tolist {
            background-color: #8b572a;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            text-decoration: none;
            font-weight: bold;
        }
    </style>
</head>
<h1>Edit Your Residential Area</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GENERALLOCATION.Id" />
         @*    <div class="form-group">
                <label asp-for="GENERALLOCATION.LOCATIONVALUE" class="control-label">Select Your New Residential Area</label>
                <input asp-for="GENERALLOCATION.LOCATIONVALUE" class="form-control" />
                <span asp-validation-for="GENERALLOCATION.LOCATIONVALUE" class="text-danger"></span>
            </div> *@

            <div class="form-group">
                <label asp-for="GENERALLOCATION.LOCATIONVALUE" class="control-label">Please select your location</label>
                <select asp-for="GENERALLOCATION.LOCATIONVALUE" required class="form-control">
                    <option value="">Select a location</option>
                    <option value="Malaysia-Johor-Johor Bahru">Malaysia - Johor - Johor Bahru</option>
                    <option value="Malaysia-Johor-Batu Pahat">Malaysia - Johor - Batu Pahat</option>
                    <option value="Malaysia-Johor-Muar">Malaysia - Johor - Muar</option>
                    <option value="Malaysia-Johor-Kluang">Malaysia - Johor - Kluang</option>
                    <option value="Malaysia-Johor-Kota Tinggi">Malaysia - Johor - Kota Tinggi</option>
                    <option value="Malaysia-Johor-Pontian">Malaysia - Johor - Pontian</option>
                    <option value="Malaysia-Johor-Segamat">Malaysia - Johor - Segamat</option>
                    <option value="Malaysia-Johor-Kulai">Malaysia - Johor - Kulai</option>
                    <option value="Malaysia-Johor-Mersing">Malaysia - Johor - Mersing</option>
                    <option value="Malaysia-Kedah-Alor Setar">Malaysia - Kedah - Alor Setar</option>
                    <option value="Malaysia-Kedah-Sungai Petani">Malaysia - Kedah - Sungai Petani</option>
                    <option value="Malaysia-Kedah-Kulim">Malaysia - Kedah - Kulim</option>
                    <option value="Malaysia-Kedah-Langkawi">Malaysia - Kedah - Langkawi</option>
                    <option value="Malaysia-Kedah-Kota Setar">Malaysia - Kedah - Kota Setar</option>
                    <option value="Malaysia-Kedah-Baling">Malaysia - Kedah - Baling</option>
                    <option value="Malaysia-Kedah-Pokok Sena">Malaysia - Kedah - Pokok Sena</option>
                    <option value="Malaysia-Kelantan-Kota Bharu">Malaysia - Kelantan - Kota Bharu</option>
                    <option value="Malaysia-Kelantan-Pasir Mas">Malaysia - Kelantan - Pasir Mas</option>
                    <option value="Malaysia-Kelantan-Tanah Merah">Malaysia - Kelantan - Tanah Merah</option>
                    <option value="Malaysia-Kelantan-Machang">Malaysia - Kelantan - Machang</option>
                    <option value="Malaysia-Kelantan-Pasir Puteh">Malaysia - Kelantan - Pasir Puteh</option>
                    <option value="Malaysia-Kelantan-Tumpat">Malaysia - Kelantan - Tumpat</option>
                    <option value="Malaysia-Kelantan-Bachok">Malaysia - Kelantan - Bachok</option>
                    <option value="Malaysia-Kelantan-Kuala Krai">Malaysia - Kelantan - Kuala Krai</option>
                    <option value="Malaysia-Kelantan-Gua Musang">Malaysia - Kelantan - Gua Musang</option>
                    <option value="Malaysia-Melaka-Melaka City">Malaysia - Melaka - Melaka City</option>
                    <option value="Malaysia-Melaka-Alor Gajah">Malaysia - Melaka - Alor Gajah</option>
                    <option value="Malaysia-Melaka-Jasin">Malaysia - Melaka - Jasin</option>
                    <option value="Malaysia-Negeri Sembilan-Seremban">Malaysia - Negeri Sembilan - Seremban</option>
                    <option value="Malaysia-Negeri Sembilan-Port Dickson">Malaysia - Negeri Sembilan - Port Dickson</option>
                    <option value="Malaysia-Negeri Sembilan-Nilai">Malaysia - Negeri Sembilan - Nilai</option>
                    <option value="Malaysia-Negeri Sembilan-Rembau">Malaysia - Negeri Sembilan - Rembau</option>
                    <option value="Malaysia-Negeri Sembilan-Tampin">Malaysia - Negeri Sembilan - Tampin</option>
                    <option value="Malaysia-Pahang-Kuantan">Malaysia - Pahang - Kuantan</option>
                    <option value="Malaysia-Pahang-Temerloh">Malaysia - Pahang - Temerloh</option>
                    <option value="Malaysia-Pahang-Mentakab">Malaysia - Pahang - Mentakab</option>
                    <option value="Malaysia-Pahang-Bentong">Malaysia - Pahang - Bentong</option>
                    <option value="Malaysia-Pahang-Raub">Malaysia - Pahang - Raub</option>
                    <option value="Malaysia-Pahang-Jerantut">Malaysia - Pahang - Jerantut</option>
                    <option value="Malaysia-Pahang-Maran">Malaysia - Pahang - Maran</option>
                    <option value="Malaysia-Pahang-Bera">Malaysia - Pahang - Bera</option>
                    <option value="Malaysia-Pahang-Rompin">Malaysia - Pahang - Rompin</option>
                    <option value="Malaysia-Pahang-Lipis">Malaysia - Pahang - Lipis</option>
                    <option value="Malaysia-Penang-George Town">Malaysia - Penang - George Town</option>
                    <option value="Malaysia-Perak-Ipoh">Malaysia - Perak - Ipoh</option>
                    <option value="Malaysia-Perak-Taiping">Malaysia - Perak - Taiping</option>
                    <option value="Malaysia-Perak-Sitiawan">Malaysia - Perak - Sitiawan</option>
                    <option value="Malaysia-Perak-Lumut">Malaysia - Perak - Lumut</option>
                    <option value="Malaysia-Perak-Teluk Intan">Malaysia - Perak - Teluk Intan</option>
                    <option value="Malaysia-Perak-Tanjung Malim">Malaysia - Perak - Tanjung Malim</option>
                    <option value="Malaysia-Perak-Tapah">Malaysia - Perak - Tapah</option>
                    <option value="Malaysia-Perlis-Kangar">Malaysia - Perlis - Kangar</option>
                    <option value="Malaysia-Sabah-Kota Kinabalu">Malaysia - Sabah - Kota Kinabalu</option>
                    <option value="Malaysia-Sabah-Sandakan">Malaysia - Sabah - Sandakan</option>
                    <option value="Malaysia-Sabah-Tawau">Malaysia - Sabah - Tawau</option>
                    <option value="Malaysia-Sabah-Lahad Datu">Malaysia - Sabah - Lahad Datu</option>
                    <option value="Malaysia-Sabah-Keningau">Malaysia - Sabah - Keningau</option>
                    <option value="Malaysia-Sabah-Putatan">Malaysia - Sabah - Putatan</option>
                    <option value="Malaysia-Sabah-Kota Belud">Malaysia - Sabah - Kota Belud</option>
                    <option value="Malaysia-Sabah-Penampang">Malaysia - Sabah - Penampang</option>
                    <option value="Malaysia-Sabah-Papar">Malaysia - Sabah - Papar</option>
                    <option value="Malaysia-Sabah-Kota Marudu">Malaysia - Sabah - Kota Marudu</option>
                    <option value="Malaysia-Sarawak-Kuching">Malaysia - Sarawak - Kuching</option>
                    <option value="Malaysia-Sarawak-Miri">Malaysia - Sarawak - Miri</option>
                    <option value="Malaysia-Sarawak-Sibu">Malaysia - Sarawak - Sibu</option>
                    <option value="Malaysia-Sarawak-Bintulu">Malaysia - Sarawak - Bintulu</option>
                    <option value="Malaysia-Sarawak-Limbang">Malaysia - Sarawak - Limbang</option>
                    <option value="Malaysia-Sarawak-Kapit">Malaysia - Sarawak - Kapit</option>
                    <option value="Malaysia-Sarawak-Sarikei">Malaysia - Sarawak - Sarikei</option>
                    <option value="Malaysia-Sarawak-Sri Aman">Malaysia - Sarawak - Sri Aman</option>
                    <option value="Malaysia-Selangor-Shah Alam">Malaysia - Selangor - Shah Alam</option>
                    <option value="Malaysia-Selangor-Petaling Jaya">Malaysia - Selangor - Petaling Jaya</option>
                    <option value="Malaysia-Selangor-Subang Jaya">Malaysia - Selangor - Subang Jaya</option>
                    <option value="Malaysia-Selangor-Klang">Malaysia - Selangor - Klang</option>
                    <option value="Malaysia-Selangor-Kajang">Malaysia - Selangor - Kajang</option>
                    <option value="Malaysia-Selangor-Selayang">Malaysia - Selangor - Selayang</option>
                    <option value="Malaysia-Selangor-Ampang Jaya">Malaysia - Selangor - Ampang Jaya</option>
                    <option value="Malaysia-Selangor-Cheras">Malaysia - Selangor - Cheras</option>
                    <option value="Malaysia-Terengganu-Kuala Terengganu">Malaysia - Terengganu - Kuala Terengganu</option>
                    <option value="Malaysia-Terengganu-Kemaman">Malaysia - Terengganu - Kemaman</option>
                    <option value="Malaysia-Terengganu-Dungun">Malaysia - Terengganu - Dungun</option>
                    <option value="Malaysia-Terengganu-Marang">Malaysia - Terengganu - Marang</option>
                </select>
                <span asp-validation-for="GENERALLOCATION.LOCATIONVALUE" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="GENERALLOCATION.UserId" class="control-label"></label>
                <select asp-for="GENERALLOCATION.UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="GENERALLOCATION.UserId" class="text-danger"></span>
            </div> *@
            <input type="hidden" asp-for="GENERALLOCATION.Id" />
            <div class="form-group">
                <input type="submit" id="submitbtn" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@* <div>
    <a asp-page="./Index">Back to List</a>
</div> *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
