@page
@model Pet_Reunion_Hub.Pages.LOSTPETREPORTING.GENERAL.EditModel

@{
    ViewData["Title"] = "Edit";
    // Layout = "~/Pages/Shared/SignUp.cshtml";
}

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.RazorPages

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lost Pet Reporting</title>
    <style>
        body {
            /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .container {
            max-width: 1500px;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-bottom: 8px;
        }

        input,
        select {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }



        #submitbtn {
            background-color: black;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            text-decoration: none;
            font-weight: bold; /* Make the text bold */
            font-size: 1.1em;
        }

        #tolist {
            background-color: #8b572a;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            text-decoration: none;
            font-weight: bold;
        }
    </style>
</head>
<h1>Edit Your Residential Area</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GENERALLOCATION.Id" />
            <div class="form-group">
                <label asp-for="GENERALLOCATION.LOCATIONVALUE" class="control-label">Select Your New Residential Area</label>
                <input asp-for="GENERALLOCATION.LOCATIONVALUE" class="form-control" />
                <span asp-validation-for="GENERALLOCATION.LOCATIONVALUE" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="GENERALLOCATION.UserId" class="control-label"></label>
                <select asp-for="GENERALLOCATION.UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="GENERALLOCATION.UserId" class="text-danger"></span>
            </div> *@
            <input type="hidden" asp-for="GENERALLOCATION.Id" />
            <div class="form-group">
                <input type="submit" id="submitbtn" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@* <div>
    <a asp-page="./Index">Back to List</a>
</div> *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
