@page
@model Pet_Reunion_Hub.Pages.LOSTPETREPORTING.ViewReportModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <h1>(Just for prototype purposes)</h1>
    <p>Assuming this is an existing memorial</p>
    <a href="/LOSTPETREPORTING/EditReport">Edit</a>
</body>
</html>