@page
@model Pet_Reunion_Hub.Pages.PETMEMORIAL.NEW.CreateModel

@{
    ViewData["Title"] = "Create";
    // Layout = "~/Pages/Shared/SignUp.cshtml";
}

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.RazorPages

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lost Pet Reporting</title>
    <style>
        body {
            /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .container {
            max-width: 1500px;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-bottom: 8px;
        }

        input,
        select
        {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        

        #submitbtn {
            background-color: black;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            text-decoration: none;
            font-weight: bold; /* Make the text bold */
            font-size: 1.1em;
        }

        #tolist {
            background-color: #8b572a;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            text-decoration: none;
            border-radius: 20px; /* Increase border-radius for a more rounded appearance */
            font-weight: bold;
        }
    </style>
</head>

<body>
    <h1>Create a Monument For Your Beloved Pet</h1>

<h4></h4>
<hr />
<div class="row">
    <div class="col-md-12">
            <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                    <label asp-for="Tribute.PetName" class="control-label"><b><span class="text-danger">*</span>Name</b></label>
                    <input asp-for="Tribute.PetName" class="form-control character-count" required
                           id="pet-name-input"
                           maxlength="255"
                           oninput="handleInput(event, 'pet-name-count')" />
                    <span id="pet-name-count" class="character-count-display">0/255</span>
                <span asp-validation-for="Tribute.PetName" class="text-danger"></span>
            </div>
            <br/>

            <div class="form-group">
                    <label asp-for="Tribute.PetType" class="control-label"><b><span class="text-danger">*</span>Pet Type</b></label>
                    <select asp-for="Tribute.PetType" class="form-control" required id="pet-type-input" onchange="handleInput(event)">
                        <option value="">Select</option>
                        <option value="Dog">Dog</option>
                        <option value="Cat">Cat</option>
                        <option value="Bird">Bird</option>
                        <option value="Fish">Fish</option>
                        <option value="Rodent">Rodent</option>
                        <option value="Reptile">Reptile</option>
                        <option value="Hamster">Hamster</option>
                        <option value="Other Small Mammal">Other Small Mammal</option>
                        <option value="Other">Other</option>
                    </select>
                   
                <span asp-validation-for="Tribute.PetType" class="text-danger"></span>
            </div>
                <br />

            <div class="form-group">
                <label asp-for="Tribute.PetBreed" class="control-label"><b>Breed</b></label>
                    <input asp-for="Tribute.PetBreed" class="form-control character-count" 
                           maxlength="100" 
                           oninput="handleInput(event, 'pet-breed-count')" />
                    <span id="pet-breed-count" class="character-count-display">0/100</span>
                <span asp-validation-for="Tribute.PetBreed" class="text-danger"></span>
            </div>
                <br />

            @* <div class="form-group">
                <label asp-for="Tribute.PetSex" class="control-label"><b>Sex</b></label>
                <input asp-for="Tribute.PetSex" class="form-control" />
                <span asp-validation-for="Tribute.PetSex" class="text-danger"></span>
            </div> *@

                <div class="form-group">
                    <label asp-for="Tribute.PetSex" class="control-label"><b>Sex</b></label>
                    <select asp-for="Tribute.PetSex" class="form-control">
                        <option value="">Select</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                    <span asp-validation-for="Tribute.PetSex" class="text-danger"></span>
                </div>


            <div class="form-group">
                <label asp-for="Tribute.DateOfBirth" class="control-label"><b>Date of Birth (You may leave it empty if you're unsure)</b></label>
                <input asp-for="Tribute.DateOfBirth" class="form-control" />
                <span asp-validation-for="Tribute.DateOfBirth" class="text-danger"></span>
            </div>
                <br />

            <div class="form-group">
                <label asp-for="Tribute.DateOfAdoption" class="control-label"><b>Date of Adoption</b></label>
                <input asp-for="Tribute.DateOfAdoption" class="form-control" />
                <span asp-validation-for="Tribute.DateOfAdoption" class="text-danger"></span>
            </div>
                <br />

            <div class="form-group">
                <label asp-for="Tribute.DateOfDeparture" class="control-label"><b>Date of Departure</b></label>
                <input asp-for="Tribute.DateOfDeparture" class="form-control" />
                <span asp-validation-for="Tribute.DateOfDeparture" class="text-danger"></span>
            </div>
                <br />

            <div class="form-group">
                <label asp-for="Tribute.Cause" class="control-label"><b>Cause of Death</b></label>
                    <input asp-for="Tribute.Cause" class="form-control character-count"
                           id="pet-cause-input"
                           maxlength="500"
                           oninput="handleInput(event, 'pet-cause-count')" />
                    <span id="pet-cause-count" class="character-count-display">0/500</span>
                <span asp-validation-for="Tribute.Cause" class="text-danger"></span>
            </div>
                <br />

            <div class="form-group">
                <label asp-for="Tribute.TributeText" class="control-label"><b>Write a story about your pet</b></label>
                    <textarea asp-for="Tribute.TributeText" class="form-control autosize  character-count"
                              id="pet-tribute-input"
                              rows="25" 
                              maxlength="10000"
                              oninput="handleInput(event, 'pet-tribute-count')"></textarea>
                    <span id="pet-tribute-count" class="character-count-display">0/10000</span>
                <span asp-validation-for="Tribute.TributeText" class="text-danger"></span>
            </div>
                <br />

            @* <div class="form-group">
                <label asp-for="Tribute.TributePhoto" class="control-label"><b>Photo of Your Pet</b></label>
                <input asp-for="Tribute.TributePhoto" class="form-control" />
                <span asp-validation-for="Tribute.TributePhoto" class="text-danger"></span>
            </div>
                <br /> *@
                <div class="form-group">
                    <label asp-for="Tribute.TributePhoto" class="control-label"><b>Photo of Your Pet</b></label>
                    <input type="file" name="photo" asp-for="Tribute.TributePhoto" class="form-control-file" accept="image/*" onchange="previewMainPhoto(event)" />
                    <span asp-validation-for="Tribute.TributePhoto" class="text-danger"></span>
                </div>
                <br />

                <div class="form-group">
                    <img id="mainPhotoPreview" src="#" alt="Main Photo Preview" style="display: none; max-width: 200px;">
                </div>


                <div class="form-group">
                    <label asp-for="Tribute.Visibility" class="control-label"><b>Privacy Settings:</b></label>
                    <select asp-for="Tribute.Visibility" class="form-control" required>
                        <option value="">Select</option>
                        <option value="Private">Private</option>
                        <option value="Public">Public</option>
                    </select>
                    <span asp-validation-for="Tribute.Visibility" class="text-danger"></span>
                </div>

          
            <input type="hidden" asp-for="Tribute.UserId" />
            <div class="form-group">
                    <input type="submit" id="submitbtn" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
        <a asp-page="Index" id="tolist">My Monuments</a>
</div>
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

        // // Function to auto-expand textarea
        // function autoExpandTextarea(element) {
        //     element.style.height = 'auto';
        //     element.style.height = (element.scrollHeight) + 'px';
        // }

        // // Attach event listener to all textareas with class 'autosize'
        // document.addEventListener('input', function (event) {
        //     if (event.target.tagName.toLowerCase() !== 'textarea' || !event.target.classList.contains('autosize')) return;
        //     autoExpandTextarea(event.target);
        // }, false);

        // Auto-expand textareas on page load
        document.querySelectorAll('textarea.autosize').forEach(function (element) {
            autoExpandTextarea(element);
        });

        //TO CONTROL NUMBER OF CHARACTERS
        function updateCharacterCount(inputId, countId, limit) {
            var input = document.getElementById(inputId);
            var count = document.getElementById(countId);
            console.log("Input value:", input.value);
            console.log("Input length:", input.value.length);
            count.textContent = input.value.length + "/" + limit;
        }

        // Call this function when the input changes
        function handleInput(event, countId) {
            var inputId = event.target.id;
            var limit = event.target.getAttribute('maxlength') || 0;
            updateCharacterCount(inputId, countId, limit);
        }

        var characterCountInputs = document.querySelectorAll('.character-count');
        characterCountInputs.forEach(function (input) {
            input.addEventListener('input', function (event) {
                var countId = input.getAttribute('data-count-id');
                handleInput(event, countId);
            });
        });


        //TO PREVENT NULL
        function validateForm() {
            var isValid = true;
            var unfilledFields = [];

            // Check each required input field
            var inputs = document.querySelectorAll('input[required]');
            inputs.forEach(function (input) {
                if (!input.value.trim()) {
                    isValid = false;
                    unfilledFields.push(input.name);
                }
            });

            // Display warning message if any required field is empty
            if (!isValid) {
                var message = 'Please fill in the following fields:\n';
                unfilledFields.forEach(function (field) {
                    message += '- ' + field + '\n';
                });
                alert(message);
            }

            return isValid;
        }

        //PREVIEW PHOTO
        function previewMainPhoto(event) {
            var input = event.target;
            var reader = new FileReader();

            reader.onload = function () {
                var mainPhotoPreview = document.getElementById('mainPhotoPreview');
                mainPhotoPreview.src = reader.result;
                mainPhotoPreview.style.display = 'block';
            };

            reader.readAsDataURL(input.files[0]);
        }

        </script>
}
