@page
@model Pet_Reunion_Hub.Pages.ContactUsModel
@{
}
<br/>
<br/>
<br/>
<h4 style="text-align:center">Hi! To report contents or provide feedbacks, please email me at BCS21090005@student.uts.edu.my</h4>
