@page
@model Pet_Reunion_Hub.Pages.MyAccountModel
@{
}
<div id="main">
    <a href="/Identity/Account/Manage" id="signup" class="button">Manage</a>
    <a href="/Identity/Account/Manage/Email" id="signup" class="button">Change Email</a>
    <a href="/Identity/Account/Manage/ChangePassword" id="login" class="button">Change Password</a>
</div>