@page
@model Pet_Reunion_Hub.Pages.SETTINGS.MyProfileModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <h1>(Just for prototype purposes)</h1>
    <p>Assuming this is an existing profile</p>
    <a href="/SETTINGS/EditProfile">Edit</a>
</body>
</html>