@page
@model Pet_Reunion_Hub.Pages.SETTINGS.SubmitFeedbackModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submitting Feedback</title>

    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .container {
            max-width: 600px;
            margin: 20px auto;
        }

        form {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-bottom: 8px;
        }

        input, textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 16px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .upload-btn {
            cursor: pointer;
            color: green;
            font-weight: bold;
        }

        .my-resources-btn {
            cursor: pointer;
            background-color: #3498db;
            color: #fff;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 4px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Submit a Feedback</h1>

        <form>
            <label for="feedbackTitle">Title</label>
            <input type="text" id="feedbackTitle" name="feedbackTitle" required>

            <label for="feedbackDescription">Description</label>
            <textarea id="feedbackDescription" name="resourceDescription" rows="4" cols="50"></textarea>


            <a href="/SETTINGS/MyFeedback">
              Submit
            </a>
        </form>
    </div>
</body>
</html>
